@using RecordShopClassLibrary.Models.Read
@model ProductViewModel

<form asp-action="BuyProduct" method="post">
	<input type="hidden" asp-for="@Model.Id"/>
<h1>@Model.Name</h1>
<input type="hidden" asp-for="@Model.Name"/>
<h2>@Model.CategoryName</h2>
<input type="hidden" asp-for="@Model.CategoryName"/>
<h2>@Model.Price</h2>
<input type="hidden" asp-for="@Model.Price"/>
<h3>@Model.Description</h3>
<input type="hidden" asp-for="@Model.Description"/>

<div>
<label asp-for="@Model.Quantity"></label>
<input asp-for="@Model.Quantity" type="number" min="1" value="1"/>
</div>

<button type="submit" model="@Model" class="btn btn-dark">
<i class="bi bi-plus-circle"></i>Add to Cart</button>

</form>

